html{
    scroll-behavior: smooth;
}
body{
    width:1440px;
    margin:0px 204px 0px 204px; 
}

.news{
    width:1440px;
    height:1226px;
    background-color: #E5E5E5;
}

.news-head{
    display:inline-flex;
    align-items: center;
   
}
h1{
    margin:0px;
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
}

hr{
    margin-right: 16px;
}

.news-body{
    padding:80px 122px 80px 122px;
    height:1066px;
    width:1196px;
    display:grid;
    grid-template-columns: 574px 574px;
    grid-template-rows: 176px 280px 176px 280px;
    grid-gap:48px;
    
    
}
.news-text{
    
    width:574px;
    height:176px;
    grid-column:1/2;
    grid-row:1/2;
}
.news-paragraph{
    margin-left:80px;
    width: 498px;
    height: 112px;
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    color: #808080;
}
.news-cnt01{
    background-image: url(/image/Rectangle\ 5.png);
    background-size: cover;
    width:574px;
    height:504px;
    grid-column: 1/2;
    grid-row:2/4;
    grid-auto-flow:dense;
    animation-name: news-dog01;
    animation-duration: 2s;
}

.news-cnt02{
    background-image: url(/image/Rectangle\ 5.1.png);
    background-size: cover;
    width:574px;
    height:504px;
    grid-column:2/3;
    grid-row:1/3;
    animation-name: news-dog02;
    animation-duration: 2s;
}

.news-cnt03{
    background-image: url(/image/Rectangle\ 5.4.png);
    background-size: cover;
    width:574px;
    height:504px;
    grid-column:2/3;
    grid-row:3/5;
    animation-name: news-dog02;
    animation-duration: 2s;
}

.news-read{
    background: rgba(255, 255, 255, 0.6);
    height: 314px;
    width: 454px;
    margin:190px 0px 0px 120px;
}
.news-date{
    height:48px;
    width:142px;
    float:left;
    background: #1791A0;
    margin:0px;
   
    
}
.news-feb{
    margin:14px 29px 14px 20px;
    color:white;
    font-size: 13px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.feb-news
{
      margin:56px 63px 104px 32px;
      
      display: inline-block;


}

.feb-text{
    font-family: Overpass;
font-style: normal;
font-weight: normal;
font-size: 24px;
color: #000000;


}
.recent-icon-icon{
    font-family: Overpass;
font-style: normal;
font-weight: normal;
font-size: 18px;
color: #000000;
text-decoration: none;
}


@keyframes news-dog01{
    from{
        margin-left:-122px;
    }
    to{
        margin-left:0px;
    }
}
@keyframes news-dog02{
    from{
        margin-left:122px;
    }
    to{
        margin-left:0px;
    }
}



@media(max-width:600px){
    body{
        width:auto;
        height:auto;
        margin:0px;
        
    }
    .news{
        
        padding:0px;
        width:auto;
        height: auto;
        margin:0px;
        
    }
    .news-body{
        display:block;
        padding:0px;
        margin:0px;
        height:auto;
        width:auto;
        
    
    }
    .news-text{
        height:auto;
        width:auto;
    }
    .news-paragraph{
        height: auto;
        width: auto;
        margin:20px;
    }

    .news-cnt01{
        width:374px;
        height:304px;
        margin:20px 10px 30px 10px;
        
        
    }
    .news-cnt02{
        width:374px;
        height:304px;
        margin:20px 10px 30px 10px;
    }
    .news-cnt03{
        width:374px;
        height:304px;
        margin:20px 10px 30px 10px;
        
    }
    .news-read{
        margin:0px;
        height:304px;
        width:374px;
    }
    .feb-news{
        margin:0px;
    }

    @keyframes news-dog01{
        from{
            margin-left:-122px;
        }
        to{
            margin-left:10px;
        }
    }
    @keyframes news-dog02{
        from{
            margin-left:122px;
        }
        to{
            margin-left:10px;
        }
    }

}

