html{
    scroll-behavior: smooth;
}
body{
    width:1440px;
    margin:0px 204px 0px 204px;   
}

.resources{
    height:971px;
    width:1440px;
    background-color:#F8F8F8;
    padding:145px 122px 80px 122px;
    
}

.resources-head{
    display: inline-flex;
    align-items: center;
    
}

h1{
    margin:0px;
    font-family: 'Overpass', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 44px;
    color: #000000;
    font-size: 36px;
}

hr{
    margin-right:16px;
}





.resources-list{
    float:right;
    list-style-type: none;
    display: flex;
    margin:0px;
    padding:0px;
}

.resources-list-item{
    margin-left:24px;
}
.resources-list-item:hover{
    border-bottom: 2px solid #1791A0;
}
.resources-body{
    display:grid;
    grid-template-columns: 574px 574px;
    grid-template-rows: 60px 152px 60px 152px 60px;
    grid-gap:48px;
    margin-top:48px;
    

}

.resources-paragraph{
      grid-column: 1/2;
      grid-row:1/2;

    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 30px;
    color: #808080;
}

.resources-book01{
    grid-column: 1/2;
    grid-row:2/4;
    height:260px;
    width:574px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resources-book02{
    grid-column: 1/2;
    grid-row: 4/6;
    height:260px;
    width:574px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resources-book03{
    grid-column: 2/3;
    grid-row:1/3;
    height:260px;
    width:574px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.resources-book04{
    grid-column:2/3;
    grid-row:3/5;
    height:260px;
    width:574px;
    background: #FFFFFF;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.resources-book-image{
    height:190px;
    width:146px;
    box-shadow:-10px 10px #1791A0 ;
    margin:30px 0px 40px 40px;
    float:left;
}

.resources-book-detail{
    height:192px;
    padding:24px 65px 44px 216px;
}

.resources-book-head{
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    color: #000000;
    margin:0px 0px 0px 0px;
}
.resources-book-date{
    font-family: Overpass;
font-style: normal;
font-weight: normal;
font-size: 14px;
color: #AAAAAA;
margin:10px 0px 20px 0px;
width: 293px;
height: 64px;
}
.resources-book-text{

font-family: Overpass;
font-style: normal;
font-weight: normal;
font-size: 16px;
color: #808080;

}
.resources-download{

font-family: Overpass;
font-style: normal;
font-weight: normal;
font-size: 16px;
color: #1791A0;

}


.fa-circle-chevron-right{
      color:#1791A0;
}
@media(max-width:600px) {
    body{
        width:auto;
        margin:0px;
    }
    
    .resources{
        width:auto;
        height:2200px;
       
        padding:0px;
    }

    .resources-head{
        margin:auto;
        font-size: 25px;
    }
    h1{
        font-size: 25px;
    }

    .resources-list{
        margin-top:25px;
    }
    .resources-list-item{
        margin:0px 0px 0px 10px;
        
    }


    .resources-body{
        display:block;
        

    }

    .resources-paragraph{
        margin:100px 0px 50px 0px;
    }
    
    .resources-book01{
        width:350px;
        height:450px;
        margin:20px 20px 20px 20px;
       
    }

    .resources-book02{
        width:350px;
        height:450px;
        margin:20px 20px 20px 20px;
       
    }

    .resources-book03{
        width:350px;
        height:450px;
        margin:20px 20px 20px 20px;
       
    }
    .resources-book04{
        width:350px;
        height:450px;
        margin:20px 20px 20px 20px;
       
    }
 
    
    .resources-book-image{
        margin:30px 0px 40px 100px;
        float: none;
    }
    .resources-book-detail{
        float:none;
        margin: 0px;
        padding: 0px;
    }
    .resources-book-head{
        font-size: 16px;
    }
    .resources-book-detail{
       width:300px;
       height:900px;
    }
    .fa-circle-chevron-right{
        margin: 30px 50px 0px 50px;
    }
}